<html>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	   {% for message in messages %}
	   <li>{{message}}</li>
	   {% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
    <head>
        <h1> Welcome {{username}}!</h1>
    </head>
    <body> <a href = "www.google.com">not google</a>
      <div>
      <ul>
        {% for cities in city_names %}
          <li> {{cities.strip}} </li>
        {% endfor %}
      </ul>
      </div>
      </body>
	</br>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_input.label }}<br>
            {{ form.user_input(size=32) }}
        <p>{{ form.submit() }}</p>
    </form>
    </html>
